<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1035467235418-uc506aj6kusjfs4583u4bs6iqtt0plhn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1035467235418-uc506aj6kusjfs4583u4bs6iqtt0plhn</string>
	<key>API_KEY</key>
	<string>AIzaSyCCz0nXA2QqSAPQgeRgV4lb9j1XSeEDT9Q</string>
	<key>GCM_SENDER_ID</key>
	<string>1035467235418</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>PhindileMfeka.com</string>
	<key>PROJECT_ID</key>
	<string>sbg-app-1fa60</string>
	<key>STORAGE_BUCKET</key>
	<string>sbg-app-1fa60.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1035467235418:ios:8d4e61fbfb2cd3c8517863</string>
	<key>DATABASE_URL</key>
	<string>https://sbg-app-1fa60.firebaseio.com</string>
</dict>
</plist>